.funtech-slider-main {
    background-color: var(--main-color);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0px;

    @media (max-width: 1024px) {
        padding: 50px 0px;
    }

    &>h2 {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 46px;
        line-height: 48px;
        padding: 0px;
        margin: 0px;

        color: #C5C5C5;

        @media (max-width: 1024px) {
            font-size: 32px;
            line-height: 36px;
        }

        @media (max-width: 375px) {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &>section {
        flex-grow: 1;
        align-self: stretch;
    }
}