@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.funtech-slider-logo {
    font-family: 'Poppins';
    display: inline-flex;
    align-items: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-decoration: none;
    gap: 7px;

    &>svg path {
        fill: currentColor;
    }

}