.funtech-slider-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    box-sizing: border-box;

    padding: 14px;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    width: 281px;
    height: 395px;
    padding: 14px;

    background: #FFFFFF;
    box-shadow: 38px 12px 60px rgba(199, 199, 199, 0.6);
    border-radius: 24px;

    &>img {

        width: 253px;
        height: 253px;

        border-radius: 24px;

    }

    &>aside {
        position: absolute;

        top: 28px;
        right: 28px;
        z-index: 3;

        background: rgba(28, 29, 32, 0.35);
        border: 1px solid rgba(28, 29, 32, 0.08);
        box-shadow: 0px 5px 14px rgba(28, 29, 32, 0.08);
        backdrop-filter: blur(2.5px);
        border-radius: 10px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #FFFFFF;

    }

    figcaption>h4 {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 24px;

        color: #141416;
    }

    figcaption>aside {
        margin-top: 24px;
        display: grid;
        gap: 0px 28px;
        grid-template-columns: 1fr auto;

        &>dfn {


            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #94A3B8;
        }

        &>var {

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #141416;
            display: inline-flex;
            align-items: center;

            &::before {
                content: '';
                display: inline-block;
                background-image: url(./VectorIcon.svg);
                width: 22px;
                height: 22px;
                margin-right: 4px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        &>button {
            grid-area: 1/2/3/3;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;

            margin: 0 auto;
            height: 50px;
            padding: 0px 25px;

            background: #141416;
            border-radius: 12px;
            border: 0px solid transparent;



            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;

            color: #FFFFFF;

            &:hover {
                color: #000;
                background: #D7D7D7;
            }

            &:active {
                background: #C3C3C3;
            }

        }
    }

    @media (max-width: 1024px) {
        height: 294px;
        width: 210px;
        gap: 14px;
        padding: 10px;

        figcaption>h4 {
            font-size: 16px;
            line-height: 18px;

        }

        figcaption>aside {
            margin-top: 12px;

            button {
                height: 38px;
            }

            dfn {
                font-size: 11px;
                line-height: 100%;
            }

            var {
                font-size: 12px;
                line-height: 14px;

                &::before {
                    width: 16px;
                    height: 16px;
                    margin-right: 3px;
                }
            }
        }

        &>img {

            width: 190px;
            height: 190px;

        }
    }
}