.funtech-slider-header {
    background-color: var(--header-color);

    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 144px;
    padding-left: calc(50% - 555px/2 - 345.5px);
    gap: 66px;
    z-index: 1;

    @media (max-width: 1024px) {
        padding-left: 67px;
        height: 88px;
        gap: 42px
    }

    @media (max-width: 375px) {
        height: 100vh;
        padding: 30px;
        display: grid;
        gap: 0px 24px;
        align-items: flex-start;
        justify-content: flex-start;
        grid-template-columns: 1fr auto;
        grid-template-rows: 76px 1fr;

        &:has(nav[aria-hidden="true"]) {
            height: unset;
            grid-template-rows: 76px 0px;
            padding-bottom: 0px;
        }
    }

    &:has(~ *) {

        background-color: #ffffff;
        border-radius: 0 0 20px 20px;

        ~* {
            z-index: 0;
        }
    }

    .funtech-slider-logo {
        color: #141416;

        &>svg {
            width: 53px;
            height: 53px;
        }

        &>span {
            display: none;
        }

        @media (max-width: 1024px) {
            &>svg {
                width: 38px;
                height: 38px;
            }
        }

        @media (max-width: 375px) {
            font-size: 22px;
            line-height: 24px;

            &>span {
                display: unset;
            }

            &>svg {
                width: 46px;
                height: 46px;
            }
        }
    }

    &>nav {
        display: flex;
        gap: 50px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;

        &>a {
            color: var(--header-text-color);
            text-decoration: none;

            &:hover {
                color: var(--header-text-hover-color);
            }
        }

        &+aside {
            display: none;
        }

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (max-width: 375px) {
            grid-area: 2/1/3/3;
            flex-direction: column;
            gap: 20px;
            font-size: 40px;
            line-height: 42px;
            gap: 32px;
            padding-top: 44px;

            border-top: 1px solid #CBCBCB;

            &+aside {
                display: inline-flex;
            }

            &+aside> :first-child {
                display: none;
            }

            &[aria-hidden="true"] {
                height: 0px;
                opacity: 0;

                &+aside> :first-child {
                    display: unset;
                }

                &+aside> :last-child {
                    display: none;
                }
            }

        }
    }

}