.funtech-slider-footer {
    display: flex;
    height: 345px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--footer-color);

    color: #B9B9B9;
    padding-left: calc(50% - 555px/2 - 345.5px);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17.8286px;
    line-height: 27px;

    color: #B9B9B9;

    .funtech-slider-logo {
        color: white;

        &>svg {
            width: 65px;
            height: 65px;
        }
    }

    &>section {
        width: 1246px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 635px;

            &>a {
                color: #B9B9B9;
                text-decoration: none;
                text-transform: capitalize;
            }
        }
    }

    &>aside {
        border-top: #81818140 1px solid;
        width: 1246px;
        margin-top: 25px;
        padding: 30px 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        color: #999999;

        &>span:last-child {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        padding-left: 69px;
        height: 245px;

        &>aside,
        &>section {
            width: 866px;
        }
    }

    @media (max-width: 375px) {
        height: 426px;
        box-sizing: border-box;
        padding: 52px 24px 0px 24px;
        align-items: flex-start;
        justify-content: flex-start;

        &>section {
            width: unset;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-grow: 1;

            &>nav {
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                flex-grow: 1;
                width: unset;
                padding: 18px 0px;
            }
        }

        &>aside {
            border-color: #818181;
            width: 100%;

            &>span:last-child {
                display: unset;
            }
        }
    }

}