.funtech-slider {
    display: flex;
    align-items: center;
    flex-direction: column;

    &>aside {
        box-shadow: 0px 43px 34px -25.8701px rgba(15, 15, 15, 0.12);
        border-radius: 17px;
        overflow: hidden;
        width: 166px;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        background-color: white;

        button {
            flex-grow: 1;
            background-color: white;
            border: 0px solid transparent;
            padding: 0px 20px;
            height: 64px;

            svg {
                width: 24px;
                height: 24px;
            }

            &:first-child {
                grid-area: 1/1/2/2;
            }

        }

        &:before {
            content: '';
            width: 2px;
            height: 24px;
            background: #E6E8EC;
            border-radius: 2px;

        }

        @media (max-width: 1024px) {
            width: 124px;

            button {
                height: 48px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }

            &::before {
                height: 18px;
            }
        }
    }

    .container {
        padding: 70px 0px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        @media (max-width: 1024px) {
            padding: 50px 0px;
        }
    }
}